.wave-divider {
    width: 100%;
    height: 80px;

}

.wave-parallax1 {
    animation: wave-move1 10s linear infinite;
}

.wave-parallax2 {
    animation: wave-move2 8s linear infinite;
}

.wave-parallax3 {
    animation: wave-move3 6s linear infinite;
}

.wave-parallax4 {
    animation: wave-move4 4s linear infinite;
}

@keyframes wave-move1 {
    0% {
        transform: translateX(85px);
    }
    100% {
        transform: translateX(-90px);
    }
}

@keyframes wave-move2 {
    0% {
        transform: translateX(-90px);
    }
    100% {
        transform: translateX(85px);
    }
}

@keyframes wave-move3 {
    0% {
        transform: translateX(85px);
    }
    100% {
        transform: translateX(-90px);
    }
}

@keyframes wave-move4 {
    0% {
        transform: translateX(-90px);
    }
    100% {
        transform: translateX(85px);
    }
}
