.gen-container {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 500px;

    position: relative;
}



.gen-delimiter {
    position: revert ;
    bottom: 0
}

